<h1>Times#main</h1>
<p>Find me in app/views/times/main.html.erb</p>


<div class="with_border"> The current time and date: </div>
<div class="with_border"> 
    <p><%=@date%></p>
    <p><%=@time%></p>
</div>
